:root {
  --c1: rgb(55, 102, 146);
  --c2: rgba(0, 0, 0, 0.3);
  --c3: rgb(105, 170, 214);
  --c4: rgb(214, 225, 234);
}

.sunny{
  --c1:rgb(48, 168, 243);
  --c2:rgba(255, 255, 255, 0.3);
  --c3:rgb(119, 180, 237);
  --c4: rgb(214, 225, 234);
}

*{
  outline: none;
}

html, body{
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family:'DM Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
  display: flex;
  justify-content: space-between;
  background-color: var(--c1);
  padding: 0;
  color: var(--c4)
}

nav img{
  height:3em;
  margin: 0.5rem 0 0.5rem 0.5rem;
}

.logo{
  display: flex;
  margin: 0 0 0 1rem;
  align-items: auto;
  font-size:24pt;
  line-height: 0.7;
}

nav h2{
  font-size: 20pt;
  justify-self: right;
  margin: 1rem 1rem 0 0;
}

h3{
  margin-left: 1rem;
  font-size: 20pt;
}

aside{
  width: 15%;
  background-color: var(--c3);
}

aside button{
  width: 100%;
  background-color: var(--c3);
  border: none;
  font-family: 'DM Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 1rem;
  text-align: left;
  font-size: 16pt;
}

aside button:hover, aside button:active{
  background-color: var(--c4);
}

main{
  width: 85%;
  background-image: url("/imgs/bg images/partlycloudybg.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  display: flex;
  width: 100%;
  height: 100%;
}

.box{
  background-color: var(--c2);
  margin: 1rem;
  border-radius: 10px;
  display: grid;
  padding: 1rem;
  justify-items: left;
  align-items: center;
  gap:1rem 2.5rem;
}

#today-temp{
  width:fit-content;
  grid-template-columns: 16rem 10rem 10rem;
  grid-template-rows: 3rem 3rem 3rem;
  color: var(--c4);
  font-size: 20pt;
}

#current-temp{
  font-size: 45pt;
  margin:0;
  font-weight: bold;
}

#current-icon{
  justify-self: center;
  width:10rem;
}

.iconandtemp{
  display: flex;
  align-items: center;
  grid-row: 1/span 2;
  align-self: center;
  padding-top: 0.5rem;
}

#temp-message{
  margin: none;
  grid-column: 2/span 2;
  padding: 0;
}

.maxmin{
  display: flex;
  align-items: center;
}

.maxmin img{
  width:3rem;
  height:3rem;
}

#today-temp p, h4{
  line-height: 0rem;
}

#today-temp p:nth-of-type(3){
  justify-self: center;
}
